/* .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
    animation: slide-down 0.5s ease-out;
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content img {
    width: 100%;
    border-radius: 8px;
    margin-top: 20px;
} */

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #5e4a3d(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background: #b59f88;
	padding: 20px;
	border-radius: 10px;
	max-width: 600px;
	width: 100%;
	position: relative;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	justify-content: center;
	animation: slide-down 0.5s ease-out;
	border: 10px solid #b4a7d6;
}

@keyframes slide-down {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: #5e4a3d;
	color: white;
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	cursor: pointer;
	font-size: 20px;
}

img {
	width: 100%;
	border-radius: 10px;
	border: 10px center #b4a7d6;
}
