body {
	font-family: serif;
	background-color: #b59f88;
	margin: 0;
	padding: 0;
}

button {
	background-color: #5e4a3d;
	color: #b4a7d6;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #b4a7d6;
	color: #5e4a3d;
}

header {
	background-color: #b4a7d6;
	color: #201319;
	padding: 1rem;
	text-align: center;
}

main {
	padding: 2rem;
}

.movie-list {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
}

.movie-card {
	background-color: #b4a7d6;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	width: 200px;
	text-align: center;
	border: 5px solid #5e4a3d;
}

.movie-card img {
	width: 100%;
	height: auto;
}

.movie-card h3 {
	margin: 0.5rem 0;
	font-size: 1.2rem;
}

.movie-card p {
	margin: 0.5rem 0;
	color: #555;
}
